header {
  position: relative;
  background-color: var(--second-color);
  /* padding: 0.5em 0; */
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
nav ul li a:hover {
  background-color: var(--first-color);
}
nav ul li a {
  color: black;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
nav ul .menu-container {
  position: relative;
}
nav ul .menu-container .menu {
  position: absolute;
  z-index: 99;
  background-color: var(--second-color);
  padding: 20px;
  display: none;
  top: 150%;
  box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
nav ul .menu-container:hover .menu {
  display: block;
}
nav ul .menu-container .menu .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
nav ul .menu-container .menu .links a {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
nav ul li .cart {
  position: relative;
}
nav ul li .cart .cart_no {
  position: absolute;
  top: 0;
  right: -10px;
  background-color: var(--first-color);
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
