<header>
  <div class="container">
    <nav>
      <a routerLink="/" class="logo">LOGO</a>
      <ul>
        <li
          routerLinkActive="active_link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/">Home</a>
        </li>
        <li routerLinkActive="active_link">
          <a routerLink="/login">login</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard" class="dashboard">hima</a>
          <div class="menu">
            <div class="links">
              <a routerLink="/profile">Profile</a>
              <a routerLink="/orders">Orders</a>
              <a routerLink="/logout">Logout</a>
            </div>
          </div>
        </li>
        <li routerLinkActive="active_link">
          <a routerLink="/cart" class="cart">
            Cart <span class="cart_no">4</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
