<div class="newest_item">
  <div class="item_head">
    <div class="newest_food_img">
      <img  src="/assets/newestImg.png" alt="newest_img" />
    </div>
    <div class="newest_item_name">Checkin Soup good one yes</div>
  </div>
  <div class="item_footer">
    <div class="divider"></div>
    <!-- time portion -->
    <div class="time_portion">
      <div class="titles">
        <span>Time</span>
        <span>Portion</span>
      </div>
      <div class="data">
        <span>10 Min</span>
        <span>2 Person</span>
      </div>
    </div>
  </div>
</div>
