.login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 600px;
}
.form_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.form_input input {
  height: 40px;
  border: 1px solid var(--input-border);
  padding-left: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
form input[type="submit"] {
  height: 40px;
  background-color: var(--first-color);
  color: var(--second-color);
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
form input[type="submit"]:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}
