<div class="form_page">
  <form>
    <!-- user name -->
    <div class="form_input">
      <label for="username">Username</label>
      <input
        id="username"
        type="text"
        placeholder="username"
  
      />
    </div>
    <!-- user email -->
    <div class="form_input">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        placeholder="email address"

      />
    </div>
    <!-- user address -->
    <div class="form_input">
      <label for="address">Address</label>
      <input
        id="address"
        type="text"
        placeholder="build - street - city"

      />
    </div>
    <!-- user password -->
    <div class="form_input">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        placeholder="password"
  
      />
    </div>
    <!-- register btn -->
    <input type="submit" value="Register" />
    <!-- register  link -->
    <div>
      Already have account?
      <a class="form_link" routerLink="/login">Login</a>
    </div>
  </form>
</div>
