<div class="container">
  <!-- search components -->
  <app-search></app-search>
  <!-- search components -->
  <!-- tags components -->
  <app-tags></app-tags>
  <!-- tags components -->
  <div class="foods">
    <div *ngFor="let food of foods">
      <!-- single food -->
      <a routerLink="/food/{{ food.id }}" class="food">
        <img class="food_img" src="{{ food.imageUrl }}" alt="{{ food.name }}" />
        <div class="food_content">
          <div class="food_head">
            <h5 class="food_name">{{ food.name }}</h5>
            <span class="{{ food.favorite ? 'favorite' : 'not_favorite ' }}">
              <fa-icon [icon]="faHeart"></fa-icon>
            </span>
          </div>
          <div class="stars">
            <star-rating
              [value]="5"
              [totalstars]="5"
              checkedcolor="red"
              uncheckedcolor="black"
              size="24px"
              [readonly]="false"
            >
            </star-rating>
          </div>
          <div class="product_footer">
            <div>
              <div class="origins">
                <div *ngFor="let origin of food.origins">
                  <span>{{ origin }}</span>
                </div>
              </div>
              <div class="cook_time">
                <div class="time_icons">
                  <fa-icon [icon]="faClock"></fa-icon>
                </div>
                <span>{{ food.cookTime }}</span>
              </div>
            </div>
            <div class="price">
              <span>{{ food.price | currency }}</span>
            </div>
          </div>
        </div>
      </a>
      <!-- single food -->
    </div>
  </div>
</div>
