.trending_section {
  height: 100vh;
  /* display: grid;
  place-items: center; */
}
section {
  padding: 50px 30px;
  width: 100%;
  background-color: var(--second-color);
}
section .section_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
section .section_head .trending_title {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-weight: 300;
}
section .section_head .view_all_link {
  color: var(--first-color);
  font-weight: bold;
}
section .trending_items {
  padding: 60px;
  display: flex;
  align-items: center;
  gap: 50px;
  overflow-x: scroll;
}
