.trending_section {
  /* height: 100vh; */
  margin-top: 5rem;
}
section {
  padding: 50px 0px;
  width: 100%;
  background-color: var(--second-color);
}
section .section_head {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
section .section_head .trending_title {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-weight: 300;
}
.section_content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trending_items {
  user-select: none;
  padding: 60px 40px;
  display: flex;
  align-items: center;
  gap: 70px;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: pointer;
}
/* arrows icons */

.left_arrow,
.right_arrow {
  position: absolute;
  z-index: 99;
  height: 70%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: -7px 15px 57px 34px rgba(0, 0, 0, 0.5),
  11px -12px 39px 0px rgba(0, 0, 0, 0.5) ; */
}
.left_arrow {
  left: 0;
}
.right_arrow {
  right: 0;
}
.left_arrow .left_arrow_icon,
.right_arrow .right_arrow_icon {
  cursor: pointer;
  background-color: var(--second-color);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (max-width: 768px) {
  section .section_head .trending_title {
    font-size: 1rem;
    word-spacing: 1px;
    font-weight: normal;
  }

  .trending_items {
    padding: 60px 40px;
    gap: 50px;
  }
}
