<div class="newest_section">
  <section>
    <div class="newest_head">
      <h1 class="newest_title">Newest Recipes</h1>
      <a routerLink="/newest" class="view_all_link">View All</a>
    </div>
    <div #items class="newest_items row">
      <app-newest-item></app-newest-item>
      <app-newest-item></app-newest-item>
      <app-newest-item></app-newest-item>
      <app-newest-item></app-newest-item>
      <app-newest-item></app-newest-item>
      <app-newest-item></app-newest-item>
      <app-newest-item></app-newest-item>
      <app-newest-item></app-newest-item>
      <app-newest-item></app-newest-item>
      <app-newest-item></app-newest-item>
      <app-newest-item></app-newest-item>
      <app-newest-item></app-newest-item>
      <app-newest-item></app-newest-item>
      <app-newest-item></app-newest-item>
      <app-newest-item></app-newest-item>
      <app-newest-item></app-newest-item>
      <app-newest-item></app-newest-item>
      <app-newest-item></app-newest-item>
    </div>
  </section>
</div>
